<ion-view view-title="提交申请">
  	<ion-content style="background:#f8f8f8">

  	<div class="apply">
  		<div class="top"><img class="bg" src="../img/apply.png" alt="圆手" /></div>
  		<div class="cont">
  			<div id="cont-inner" class="cont-inner bdr4">


		        <form id="form" action="">
        	
			        <div class="form-group">
			            <label for="name">餐厅名称</label>
			            <input id="name" class="form-control bdr4" ng-model="ApplyParams.name" type="text" />
			        </div>

			        <div class="form-group">
			            <label for="name">餐厅地址</label>
			            <input id="name" class="form-control bdr4" ng-model="ApplyParams.address" type="text" />
			        </div>

			        <div class="form-group">
			            <label for="name">联系人</label>
			            <input id="name" class="form-control bdr4" ng-model="ApplyParams.contact" type="text" />
			        </div>

			        <div class="form-group">
	            		<label for="phone">手机号</label>
	            		<input id="phone" class="form-control bdr4" ng-model="ApplyParams.phone" type="tel" />

	            		<div class="form-tips" ng-if="PhoneTips">请输入正确的手机号码</div>
	          		</div>

			        <div class="form-group">
			            <label for="code">验证码</label>
			            <input id="code" class="form-control bdr4" ng-model="ApplyParams.vercode" type="tel" />
			            <div id="getcode" class="getcode">获取验证码</div>
			            <div class="form-tips" ng-if="VerCodeTips">验证码输入无效</div>
			        </div>

			        <div class="form-group form-group-submit">
			        	<label for="payment">职位需求</label>
			        	<input class="form-control bdr4" ng-click="applysModal.show()" value="{{applysStr}}"/>
		            </div>




			        <div class="form-group form-group-submit">
			            <input id="submit" class="form-submit bdr4" value="提交申请" type="submit" />
			        </div>

		        </form>
		    </div>
  		</div>
  	</div>







  	</ion-content>
</ion-view>
