<div class="modal">
	<ion-header-bar>
	<div class="bar bar-header">
	  	<button class="button button-balanced" ng-click="applysModal.hide()">关闭</button>
	</div>
	</ion-header-bar>

	<ion-content >

	<div class="card" ng-if="ApplyParams.applys.length > 0">
  		<div class="item item-divider">已申请</div>

  		<div class="row" ng-repeat="params in ApplyParams.applys" style="text-align:center;">
  			<div class="col" >{{params.work_type}}</div>
  			<div class="col">{{params.num}}人</div>
  			<div class="col">{{params.startDate.date.month+1 + '.'+params.startDate.date.day +'-'+params.endDate.date.month+1 + '.'+params.endDate.date.day}}</div>
  			<div class="col">{{params.startTimeStr +'~'+params.endTimeStr}}</div>
		</div>	

	</div>

  	<div class="apply">
  		<div class="cont">
  			<div id="cont-inner" class="cont-inner bdr4">


		        <form id="form" action="">
        	


		        <div class="form-group form-group-select">
		            <label for="payment">职位选择</label>
		            <select id="payment" class="form-control bdr4" ng-model="PerApplyParams.work_type">
		              	<option ng-repeat="y in work_type" value="{{y}}">{{y}}</option>
		            </select>
		            <img src="../img/apply-form-arrow.png" />
		        </div>

		        <div class="form-group">
		            <label for="name">人数</label>
		            <input id="name" class="form-control bdr4" ng-model="PerApplyParams.num" type="tel" />
		        </div>		        

		        <div class="form-group ">
		        	<label for="payment">上工日期</label>
		        	<input class="form-control bdr4" ng-click="startDate()" value="{{PerApplyParams.startDateStr}}"/>  
	            </div>

		        <div class="form-group ">
		        	<label for="payment">结束日期</label>
		        	<input class="form-control bdr4" ng-click="endDate()" value="{{PerApplyParams.endDateStr}}"/>
	            </div>


		        <div class="form-group ">
		        	<ionic-timepicker input-obj="timePickerObject">
		        	<label for="payment">上班时间</label>
		        	<input class="form-control bdr4" value="{{PerApplyParams.startTimeStr}}"/>
		        	</ionic-timepicker>
	            </div>

		        <div class="form-group ">
		        	<ionic-timepicker input-obj="timePickerObject_end">
		        	<label for="payment">下班时间</label>
		        	<input class="form-control bdr4"  value="{{PerApplyParams.endTimeStr}}"/>
		        	</ionic-timepicker>
	            </div>	            

		        <div class="form-group form-group-submit">
		            <input id="submit" class="form-submit bdr4" value="提交" type="submit" ng-click="saveApplying()"/>
		        </div>

		        </form>
		    </div>
  		</div>
  	</div>     

    </ion-content>
</div>