<div class="modal">
	<ion-header-bar>
	<div class="bar bar-header">
	  	<button class="button button-balanced" ng-click="applysModal.hide()">关闭</button>
	</div>
	</ion-header-bar>

	<ion-content >



  	<div class="apply">




  		<div class="cont">
  			<div id="cont-inner" class="cont-inner bdr4">


		        <form id="form" action="">
        	


		        <div class="form-group form-group-select">
		            <label for="payment">职位选择</label>
		            <select id="payment" class="form-control bdr4" ng-model="PerApplyParams.work_type">
		              	<option ng-repeat="y in work_type" value="{{y}}">{{y}}</option>
		            </select>
		            <img src="../img/apply-form-arrow.png" />
		            <div class="form-tips" ng-if="work_typeTip">请选择需求职位</div>
		        </div>

		        <div class="form-group">
		            <label for="name">人数</label>
		            <input id="name" class="form-control bdr4" ng-model="PerApplyParams.num" type="tel" />
		            <div class="form-tips" ng-if="numTip">请输入需求人数</div>
		        </div>		        

		        <div class="form-group form-group-date">
		        	<label for="payment">上工日期</label>
		        	<button class="form-control bdr4" ng-click="startDate()" style="text-align:left;">{{PerApplyParams.startDateStr}}</button>
		        	<div class="form-tips" ng-if="startDateTip">请选择上工日期</div>  
	            </div>

		        <div class="form-group ">
		        	<label for="payment">结束日期</label>
		        	<button class="form-control bdr4" ng-click="endDate()" style="text-align:left;">{{PerApplyParams.endDateStr}}</button>
		        	<div class="form-tips" ng-if="endDateTip">请选择结束日期</div>
	            </div>


		        <div class="form-group ">
		        	<ionic-timepicker input-obj="timePickerObject">
		        	<label for="payment">上班时间</label>
		        	<button class="form-control bdr4" style="text-align:left;">{{PerApplyParams.startTimeStr}}</button>
		        	<div class="form-tips" ng-if="startTimeTip">请选择上班时间</div>
		        	</ionic-timepicker>
	            </div>

		        <div class="form-group">
		        	<ionic-timepicker input-obj="timePickerObject_end">
		        	<label for="payment">下班时间</label>
		        	<button class="form-control bdr4" style="text-align:left;">{{PerApplyParams.endTimeStr}}</button>
		        	<div class="form-tips" ng-if="endTimeTip">请选择下班</div>
		        	</ionic-timepicker>
	            </div>	            

		        <div class="form-group form-group-submit">
		            <input id="submit" class="form-submit bdr4" value="提交" type="submit" ng-click="saveApplying()"/>
		        </div>

		        </form>
		    </div>
  		</div>
  	</div>

  		<div class="card" ng-if="ApplyParams.applys.length > 0">
  		
  		<div class="item item-divider">已申请</div>

  		<div class="row" ng-repeat="params in ApplyParams.applys track by $index" style="text-align:center;">
  			<div class="col col-20">{{params.work_type}}</div>
  			<div class="col col-20">{{params.num}}人</div>
  			<div class="col col-33">{{(params.startDate.month+1)+'.'+params.startDate.day +'~'+ (params.endDate.month+1)+'.'+params.endDate.day}}</div>
  			<div class="col col-33">{{params.startTimeStr +'~'+params.endTimeStr}}</div>
		</div>	

	</div>     

    </ion-content>
</div>